# Dependency directories
node_modules/
jspm_packages/

# Bundle files
client/dist/bundle.js
client/dist/bundle.js.map

# Optional eslint cache
.eslintrc.js
.eslintignore

# dotenv environment variables file
.env
.env.test

coverage/

.DS_store

config.js

oldFiles/